<!DOCTYPE HTML>

<html>
	<!--<head>-->
	<!--	<title>Generic Page - Massively by HTML5 UP</title>-->
	<!--	<meta charset="utf-8" />-->
	<!--	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />-->
	<!--	<link rel="stylesheet" href="assets/css/main.css" />-->
	<!--	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>-->
	<!--</head>-->
	<body class="is-loading">
			<div id="wrapper" class="fade-in">

					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<a href="<%= y14s_gun_path %>" class="image main"><img src="/assets/14gun.jpg"></a>
								<ul class="actions">
									<li><a href="<%= y14s_gun_path %>" class="button big">14년도 총학생회 공약보기</a></li>
								</ul>
							</article>
							
				<section class="posts">
					<article>
						<header>
							<h2><a href="<%= y14s_seo_path %>">명륜</a></h2>
						</header>
						<a href="<%= y14s_seo_path %>" class="image fit"><img src="/assets/명륜3.jpg" alt="" /></a>
						<ul class="actions">
							<li><a href="<%= y14s_seo_path %>" class="button">명륜캠 단과대 공약보기</a></li>
						</ul>
					</article>
					<article>
						<header>
							<h2><a href="<%= y14s_suw_path %>">율전</a></h2>
						</header>
						<a href="<%= y14s_suw_path %>" class="image fit"><img src="/assets/수원3.jpg" alt="" /></a>
						<ul class="actions">
							<li><a href="<%= y14s_suw_path %>" class="button">율전캠 단과대 공약보기</a></li>
						</ul>
					</article>
				</section>

						<!-- Footer -->
							<footer>
								<!--<div class="pagination">-->
									<!--<a href="#" class="previous">Prev</a>-->
								<!--	<a href="#" class="page active">1</a>-->
								<!--	<a href="#" class="page">2</a>-->
								<!--	<a href="#" class="page">3</a>-->
								<!--	<span class="extra">&hellip;</span>-->
								<!--	<a href="#" class="page">8</a>-->
								<!--	<a href="#" class="page">9</a>-->
								<!--	<a href="#" class="page">10</a>-->
								<!--	<a href="#" class="next">Next</a>-->
								<!--</div>-->
							</footer>

					</div>

			</div>

		<!-- Scripts -->

	</body>
</html>