<!DOCTYPE HTML>
<html>
	<body class="is-loading">
		<div id="wrapper" class="fade-in">
			<div id="main">
				<article class="post featured">
					<!--<header class="major">-->
					<!--	<span class="date">April 25, 2017</span>-->
					<!--	<h2><a href='#'>16년도 총학생회 공약보기</a></h2>-->
					<!--	<p>16총학 공약</p>-->
					<!--</header>-->
					<a href="<%= y16s_gun_path%>" class="image main"><img src="/assets/16gun.jpg"></a>
					<ul class="actions">
						<li><a href="<%= y16s_gun_path%>" class="button big">16년도 총학생회 공약보기</a></li>
					</ul>
				</article>

				<section class="posts">
					<article>
						<header>
							<h2><a href="<%= y16s_seo_path %>">명륜</a></h2>
						</header>
						<a href="<%= y16s_seo_path %>" class="image fit"><img src="/assets/명륜1.jpg" alt="" /></a>
						<ul class="actions">
							<li><a href="<%= y16s_seo_path %>" class="button">명륜캠 단과대 공약보기</a></li>
						</ul>
					</article>
					<article>
						<header>
							<h2><a href="<%= y16s_suw_path %>">율전</a></h2>
						</header>
						<a href="<%= y16s_suw_path %>" class="image fit"><img src="/assets/수원1.jpg" alt="" /></a>
						<ul class="actions">
							<li><a href="<%= y16s_suw_path %>" class="button">율전캠 단과대 공약보기</a></li>
						</ul>
					</article>
				</section>
			<!-- Footer -->
				<!--<footer>-->
					<!--<div class="pagination">-->
						<!--<a href="#" class="previous">Prev</a>-->
					<!--	<a href="#" class="page active">1</a>-->
					<!--	<a href="#" class="page">2</a>-->
					<!--	<a href="#" class="page">3</a>-->
					<!--	<span class="extra">&hellip;</span>-->
					<!--	<a href="#" class="page">8</a>-->
					<!--	<a href="#" class="page">9</a>-->
					<!--	<a href="#" class="page">10</a>-->
					<!--	<a href="#" class="next">Next</a>-->
					<!--</div>-->
				</footer>
			</div>
		</div>
	</body>
</html>