<!DOCTYPE HTML>
<html>
	<body class="is-loading">
		<div id="wrapper" class="fade-in">
			<div id="main">
				<article class="post featured">
					<a href="<%= y17s_gun_path %>" class="image main"><img src="/assets/17gun.jpg"></a>
					<ul class="actions">
						<li><a href='<%= y17s_gun_path %>' class="button big">17년도 총학생회 공약보기</a></li>
					</ul>
				</article>
				<section class="posts">
					<article>
						<header>
							<!--<span class="date">April 24, 2017</span>-->
							<h2><a href="<%=y17s_seo_path%>">명륜</a></h2>
						</header>
						<a href="<%=y17s_seo_path%>" class="image fit"><img src="/assets/명륜2.jpg" alt="" /></a>
						<ul class="actions">
							<li><a href="<%= y17s_seo_path %>" class="button">명륜캠 단과대 공약보기</a></li>
						</ul>
					</article>
					<article>
						<header>
							<!--<span class="date">April 22, 2017</span>-->
							<h2><a href="<%=y17s_suw_path%>">율전</a></h2>
						</header>
						<a href="<%=y17s_suw_path%>" class="image fit"><img src="/assets/수원2.jpg" /></a>
						<ul class="actions">
							<li><a href="<%= y17s_suw_path %>" class="button">율전캠 단과대 공약보기</a></li>
						</ul>
					</article>
				</section>

			<!-- Footer -->
				<footer>
					<!--<div class="pagination">-->
						<!--<a href="#" class="previous">Prev</a>-->
					<!--	<a href="#" class="page active">1</a>-->
					<!--	<a href="#" class="page">2</a>-->
					<!--	<a href="#" class="page">3</a>-->
					<!--	<span class="extra">&hellip;</span>-->
					<!--	<a href="#" class="page">8</a>-->
					<!--	<a href="#" class="page">9</a>-->
					<!--	<a href="#" class="page">10</a>-->
					<!--	<a href="#" class="next">Next</a>-->
					<!--</div>-->
				</footer>
			</div>
		</div>
	</body>
</html>