<body class="is-loading">

	<div id="wrapper" class="fade-in">
		<div id="main">

			<center>
				<ul class="actions">
			
			<% arr1 = (79..88).to_a.map{ |x| 'http://www.skkuw.com/news/articleView.html?idxno=131'+ x.to_s } %>
			<% arr2 = ['사회과학대학','사범대학','문과대학','동아리연합회','경제대학', '총졸업준비학생회','유학대학','예술대학','글로벌리더학부','경영대학'] %>
			<% arr3 = [arr1, arr2] %>
			<% for i in (0..9) %>
					<li><%= link_to  arr3[1][i] , arr3[0][i].to_s, target: "_blank", class: "button special" %></li>
			<% end %>
				<br>
				<br>
				<h6>성대신문 작성 시점인 2017.08.29일 기준입니다.</h6>
				</ul>
			</center>


			
		    <div class="row">
				<div class="6u 12u$(small)">
					<div class="table-wrapper">
					<% @years.each do |year| %>
						<% if year.name == 2017 %>
							<% year.location2s.each do |l2| %>
								<% if l2.name == '인사캠'%>
									<% l2.category2s.each do |c2|%>
										<h2><%=c2.name%> : <%=c2.title%></h2>
										<table class="alt">
											<thead class="thead-light">
												<tr>
													 <th scope="col">#</th>
													 <th scope="col">공약</th>
													 <th scope="col">시행여부</th>
													 <th scope="col">Detail</th>
												</tr>
											</thead>
											<% i=1%>
										<% c2.content2s.each_slice(2) do |slice1, slice2| %>
													  <tbody>
													    <tr>
													      <th scope="row"><%=i%></th>
													      <td><%=slice1.name%></td>
													      <td><%=slice1.enforce%></td>
													      <td><% if slice1.detail %><%=slice1.detail %><% end%></td>
													    </tr>
													    <%i+=1%>
													    <% if slice2%>
														<tr>
													      <th scope="row"><%=i%></th>
													      <td><%=slice2.name%></td>
													      <td><%=slice2.enforce%></td>
													      <td><% if slice2.detail %><%=slice2.detail %><% end%></td>
													    </tr>
													    <%i+=1%>
													  <%end%>
												
											<%end%>
											</tbody>
											</table>
										<br>
										<%end%>
								<%end%>
							<%end%>
						<% end%>
					<%end%>
					
				    	
        
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	